<div class="col-xs-12 ">
  <h2>Mes appareils</h2>

<p>Mis a jour : {{lastUpdate | date : 'EEEE d MMMM y' | uppercase}}</p>

  <button class="btn btn-primary" routerLink="/appareil/add">add</button>

  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils"
     [appareilName]="appareil.name" 
     [AppareilStatus]="appareil.status"
     [id]="appareil._id"
     >
    </app-appareil>
  </ul>
<div class="col-xs-4">
  <button class="btn btn-success" [disabled]="!isAuth" (click)="onSwitch()">{{btnmsg}}</button>
</div>

</div>
